Repository danibalcr/amplify-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui, @aws-amplify/amplify-data, @aws-amplify/amplify-devops, @aws-amplify/amplify-js-admins

.github/CODEOWNERS:

* @aws-amplify/amplify-js
/packages/amplify-ui @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/amplify-ui-angular @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/amplify-ui-components  @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/amplify-ui-react  @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/amplify-ui-storybook  @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/amplify-ui-vue  @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/api @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/api-graphql @aws-amplify/amplify-data
/packages/api-rest @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/aws-amplify-angular @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/aws-amplify-react @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/aws-amplify-react-native @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/aws-amplify-vue @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/core @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/datastore @aws-amplify/amplify-data
/packages/datastore-storage-adapter @aws-amplify/amplify-data
/packages/geo @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/pubsub @aws-amplify/amplify-js @aws-amplify/amplify-data
/.circleci/ @aws-amplify/amplify-js @aws-amplify/amplify-devops
/.github/ @aws-amplify/amplify-js-admins

Change to publish legacy UI packages on a seperate tag to support legacy integration tests.
  .circleci/config.yml
  package.json
  packages/amplify-ui-angular/package.json
  packages/amplify-ui-components/package.json
  packages/amplify-ui-react/package.json
  packages/amplify-ui-vue/package.json
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react/package.json
  packages/aws-amplify-vue/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops, @aws-amplify/amplify-ui

Disabled tests to publish test release.
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

Pegged dependencies for legacy UI packages.
  packages/aws-amplify-vue/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

Pegged remaining dependencies for legacy ui packages.
  packages/amplify-ui-angular/package.json
  packages/amplify-ui-components/package.json
  packages/amplify-ui-react/package.json
  packages/amplify-ui-vue/package.json
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

Updated ui component dependencies.
  packages/amplify-ui-components/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

Revert "Pegged remaining dependencies for legacy ui packages."
  packages/amplify-ui-angular/package.json
  packages/amplify-ui-components/package.json
  packages/amplify-ui-react/package.json
  packages/amplify-ui-vue/package.json
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

Revert "Pegged dependencies for legacy UI packages."
  packages/aws-amplify-vue/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

Updated UI components dependency.
  packages/amplify-ui-components/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

Added amplify peer dependency.
  packages/amplify-ui-components/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

Updated ui-component auth dependencies.
  packages/amplify-ui-components/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

wip: debugging the problem
  packages/amazon-cognito-identity-js/.eslintrc.yaml
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.tsx
  packages/auth/src/Auth.ts
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui

chore: allowlist folders to publish to NPM
  packages/amazon-cognito-identity-js/package.json
  packages/analytics/package.json
  packages/api-graphql/package.json
  packages/api-rest/package.json
  packages/api/package.json
  packages/auth/package.json
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify/package.json
  packages/cache/package.json
  packages/core/package.json
  packages/datastore-storage-adapter/package.json
  packages/datastore/package.json
  packages/geo/package.json
  packages/interactions/package.json
  packages/notifications/package.json
  packages/predictions/package.json
  packages/pubsub/package.json
  packages/pushnotification/package.json
  packages/storage/package.json
  packages/xr/package.json
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-data, @aws-amplify/amplify-ui

test: add next-major-version/clean-npm-artifacts to integration test branch
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

fix(amazon-cognito-identity-js): include src to npm publish
  packages/amazon-cognito-identity-js/package.json
Owners: @aws-amplify/amplify-js

chore: publish cleaned packages to npm
  package.json
Owners: @aws-amplify/amplify-js

Revert "test: add next-major-version/clean-npm-artifacts to integration test branch"
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

Revert "chore: publish cleaned packages to npm"
  package.json
Owners: @aws-amplify/amplify-js

chore: remove unnecessary .npmignore
  packages/amazon-cognito-identity-js/package.json
  packages/analytics/.npmignore
  packages/api-graphql/.npmignore
  packages/api-rest/.npmignore
  packages/api/.npmignore
  packages/api/package.json
  packages/auth/.npmignore
  packages/auth/package.json
  packages/aws-amplify-react-native/.npmignore
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify/.npmignore
  packages/cache/.npmignore
  packages/core/.npmignore
  packages/datastore-storage-adapter/.npmignore
  packages/datastore-storage-adapter/package.json
  packages/datastore/.npmignore
  packages/datastore/package.json
  packages/geo/.npmignore
  packages/interactions/.npmignore
  packages/notifications/.npmignore
  packages/predictions/.npmignore
  packages/pubsub/.npmignore
  packages/pushnotification/.npmignore
  packages/storage/.npmignore
  packages/xr/.npmignore
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-data, @aws-amplify/amplify-ui

revert debugging changes to get the shaky tests back
  packages/auth/src/Auth.ts
Owners: @aws-amplify/amplify-js

ci(canaries): remove --registry from vue create
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

ci(canaries): use local dir for global npm installs
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

ci(canaries): revert --registry for Vue jobs
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

ci: canaries - disable angular@next; enable RN CL I
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

ci(canaries): update expo steps [skip ci]
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

ci: canaries - use legacy-peer-deps for rn@next
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops

chore: update auth session debounce
  packages/auth/src/Auth.ts
Owners: @aws-amplify/amplify-js

feat(data): add Vite + DataStore integ tests to Circle CI config
  .circleci/config.yml
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-devops
